@import "~src/style/variables";

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $height-menu-lg;
    display: flex;
    align-items: center;
    background-color: $header-color;
    color: $white;
    font-weight: 600;
    font-size: 15px;
    z-index: 10;
}

img {
    margin: 10px 0 0;
}

button {
    color: $black;
}