<!-- Toolbar -->
<mat-toolbar class="mat-elevation-z5">
    <!--LOGO-->
    <a [routerLink]="'/home'">
        <img width="150" alt="Logo" src="/assets/logo.png"/>
    </a>
    <!--MENU LT-->
    <div *ngFor="let item of menuItems; let index = index;" fxShow="true" fxHide.lt-md>
      <div *ngIf="user">
        <a *ngIf="index !== menuItems.length" [routerLink]="item.link" routerLinkActive="active">
          <span>{{ item.label }}</span>
        </a>
      </div>
    </div>

    <div class="spacer"></div>

    <div *ngIf="!user">
      <a fxShow="true" fxHide.lt-md [routerLink]="'/connexion'" routerLinkActive="active">
        <span>Connexion</span>
      </a>
    </div>

    <div *ngIf="user">
      <a fxShow="true" fxHide.lt-md (click)="logout()">
        <span>Déconnexion</span>
      </a>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
    <!--DROP MENU-->
    <mat-menu #dropMenu="matMenu">
      <ng-container *ngFor="let item of menuItems; let index = index;">
          <button [routerLink]="item.link" routerLinkActive="active" mat-menu-item>
              {{item.label}}
          </button>
      </ng-container>
      <ng-container *ngIf="user">
        <button mat-menu-item (click)="logout()">
          Déconnexion
        </button>
      </ng-container>
      <ng-container *ngIf="!user">
        <button [routerLink]="'/connexion'" routerLinkActive="active" mat-menu-item>
          Connexion
        </button>
      </ng-container>
    </mat-menu>
</mat-toolbar>
