<!-- Toolbar -->
<div class="toolbar" role="banner">
    <!--LOGO-->
    <a href="/home">
        <img width="150" alt="Logo" src="/assets/logo.png"/>
    </a>
    <!--ROOT-->
    <a routerLink="/home" routerLinkActive="active"><span>Accueil</span></a>
    <a routerLink="/financeurs" routerLinkActive="active"><span>Financeur</span></a>
    <a routerLink="/depenses" routerLinkActive="active"><span>Dépense</span></a>
    <a routerLink="/rapports" routerLinkActive="active"><span>Rapport</span></a>
    <a routerLink="/utilisateurs" routerLinkActive="active"><span>Utilisateur</span></a>
    <div class="spacer"></div>
    <a routerLink="/connexion" routerLinkActive="active"><span>Connexion</span></a>
</div>