<div>
  <span *ngIf="!!title" class="title">{{ title }}</span>
  <span class="result">{{
    genericTableService.getResult(genericTableEntities)
  }}</span>
</div>
<div class="table-generic mat-elevation-z8">
  <table
    mat-table
    [(dataSource)]="genericTableEntities"
    [ngClass]="{ 'can-select': canSelect }"
    matSort
    matSortDisableClear
    [matSortActive]="sortName"
    [matSortDirection]="sortDirection"
  >
    <ng-container
      *ngFor="let columnName of entityTypes; let index = index"
      [matColumnDef]="columnName.name"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [disabled]="
          genericTableService.isSortDisabled(options, columnName.code) ||
          disableSortAction
        "
      >
        {{ columnName.name }}
        <mat-icon
          *ngIf="columnName.tooltipHeader != null"
          class="icon-help-header"
          [matTooltip]="columnName.tooltipHeader"
          >help</mat-icon
        >
        <mat-icon
          *ngIf="columnName.isMandatory && showMandatoryIcon"
          class="icon-star-header"
          [matTooltip]="'Obligatoire'"
          >star</mat-icon
        >
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- Textarea -->
        <div class="ttextarea">
          <div
            *ngIf="genericTableTypeService.isTextarea(options, columnName.code)"
          >
            <mat-form-field
              *ngIf="
                element.state === GenericTableEntityState.EDIT;
                else overlay
              "
              [ngClass]="{
                errors: genericTableErrorService.hasErrors(
                  element,
                  columnName.code
                )
              }"
              floatLabel="never"
            >
              <textarea
                matInput
                matTooltipClass="tooltip-error"
                [disabled]="
                  this.genericTableService.disabledEditField(
                    element,
                    columnName
                  )
                "
                [matTooltip]="
                  genericTableErrorService.getErrorMessage(
                    element.errors,
                    columnName.code
                  )
                "
                [(ngModel)]="element.data[columnName.code]"
                [placeholder]="
                  genericTableService.getPlaceHolder(options, columnName.code)
                "
              ></textarea>
            </mat-form-field>
            <!--HOVERLAY-->
            <ng-template #overlay>
              <mat-form-field
                matTooltip="{{ element.data[columnName.code] }}"
                matTooltipClass="tooltip-textarea"
                [ngClass]="{
                  errors: genericTableErrorService.hasErrors(
                    element,
                    columnName.code
                  )
                }"
                floatLabel="never"
              >
                <textarea
                  matInput
                  [disabled]="
                    element.state === GenericTableEntityState.READ ||
                    this.genericTableService.disabledEditField(
                      element,
                      columnName
                    )
                  "
                  [(ngModel)]="element.data[columnName.code]"
                  [placeholder]="
                    genericTableService.getPlaceHolder(options, columnName.code)
                  "
                  rows="4"
                  cols="50"
                  maxlength="50"
                ></textarea>
              </mat-form-field>
            </ng-template>
          </div>
        </div>

        <!-- String -->
        <div class="string">
          <mat-form-field
            *ngIf="genericTableTypeService.isString(options, columnName.code)"
            [ngClass]="{
              errors: genericTableErrorService.hasErrors(
                element,
                columnName.code
              )
            }"
            floatLabel="never"
          >
            <input
              matInput
              [disabled]="
                element.state === GenericTableEntityState.READ ||
                genericTableService.disabledEditField(element, columnName) ||
                isReadOnlyProperty(element.data, columnName.code)
              "
              matTooltipClass="tooltip-error"
              [matTooltip]="
                genericTableErrorService.getErrorMessage(
                  element.errors,
                  columnName.code
                )
              "
              [(ngModel)]="element.data[columnName.code]"
              [placeholder]="
                genericTableService.getPlaceHolder(options, columnName.code)
              "
            />
          </mat-form-field>
        </div>

        <!-- Number -->
        <div class="number">
          <mat-form-field
            *ngIf="genericTableTypeService.isNumber(options, columnName.code)"
            [ngClass]="{
              errors: genericTableErrorService.hasErrors(
                element,
                columnName.code
              )
            }"
            floatLabel="never"
          >
            <input
              matInput
              numeric
              [disabled]="
                element.state === GenericTableEntityState.READ ||
                genericTableService.disabledEditField(element, columnName) ||
                isReadOnlyProperty(element.data, columnName.code)
              "
              matTooltipClass="tooltip-error"
              [matTooltip]="
                genericTableErrorService.getErrorMessage(
                  element.errors,
                  columnName.code
                )
              "
              [ngModel]="element.data[columnName.code]"
              (ngModelChange)="element.data[columnName.code] = +$event"
              [placeholder]="
                genericTableService.getPlaceHolder(options, columnName.code)
              "
            />
          </mat-form-field>
        </div>

        <!-- Date -->
        <div class="date">
          <mat-form-field
            *ngIf="genericTableTypeService.isDate(options, columnName.code)"
            [ngClass]="{
              errors: genericTableErrorService.hasErrors(
                element,
                columnName.code
              )
            }"
            floatLabel="never"
          >
            <input
              matInput
              [disabled]="
                element.state === GenericTableEntityState.READ ||
                genericTableService.disabledEditField(element, columnName) ||
                isReadOnlyProperty(element.data, columnName.code)
              "
              [matDatepicker]="picker1"
              matTooltipClass="tooltip-error"
              [matTooltip]="
                genericTableErrorService.getErrorMessage(
                  element.errors,
                  columnName.code
                )
              "
              [(ngModel)]="element.data[columnName.code]"
              [placeholder]="
                genericTableService.getPlaceHolder(options, columnName.code)
              "
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Currency -->
        <div class="currency">
          <mat-form-field
            *ngIf="genericTableTypeService.isCurrency(options, columnName.code)"
            [ngClass]="{
              errors: genericTableErrorService.hasErrors(
                element,
                columnName.code
              )
            }"
            floatLabel="never"
          >
            <input
              matInput
              numeric
              decimals="4"
              [disabled]="
                element.state === GenericTableEntityState.READ ||
                genericTableService.disabledEditField(element, columnName) ||
                isReadOnlyProperty(element.data, columnName.code)
              "
              matTooltipClass="tooltip-error"
              [matTooltip]="
                genericTableErrorService.getErrorMessage(
                  element.errors,
                  columnName.code
                )
              "
              [ngModel]="
                element.state === GenericTableEntityState.READ
                  ? (element.data[columnName.code] | number: '1.0-0':'fr-FR') +
                    ' €'
                  : element.data[columnName.code]
              "
              (ngModelChange)="element.data[columnName.code] = +$event"
              [placeholder]="
                genericTableService.getPlaceHolder(options, columnName.code)
              "
            />
          </mat-form-field>
        </div>

        <!-- Boolean -->
        <div class="checkbox">
          <mat-checkbox
            *ngIf="genericTableTypeService.isBoolean(options, columnName.code)"
            [(ngModel)]="element.data[columnName.code]"
            [disabled]="
              element.state === GenericTableEntityState.READ ||
              genericTableService.disabledEditField(element, columnName)
            "
          >
          </mat-checkbox>
        </div>

        <!-- Select box -->
        <div class="selectbox">
          <mat-form-field
            *ngIf="
              genericTableTypeService.isSelectBox(options, columnName.code)
            "
            [ngClass]="{
              errors: genericTableErrorService.hasErrors(
                element,
                columnName.code
              )
            }"
            floatLabel="never"
          >
            <mat-select
              [(ngModel)]="element.data[columnName.code]"
              [disabled]="
                element.state === GenericTableEntityState.READ ||
                genericTableService.disabledEditField(element, columnName) ||
                isReadOnlyProperty(element.data, columnName.code)
              "
              matTooltipClass="tooltip-error"
              [matTooltip]="
                genericTableErrorService.getErrorMessage(
                  element.errors,
                  columnName.code
                )
              "
            >
              <mat-option
                *ngFor="
                  let option of genericTableService.getEntitySelectBoxOptions(
                    options,
                    columnName.code
                  )
                "
                [value]="option.id"
              >
                {{ option.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container
      [matColumnDef]="actionsHeaderColumnName"
      stickyEnd
      *ngIf="showActions"
    >
      <!-- Create -->
      <th mat-header-cell *matHeaderCellDef class="actions">
        <span>{{ actionsHeaderColumnName }}</span>
        <button
          *ngIf="!isReadOnly && showCreateAction"
          mat-icon-button
          (click)="onCreate()"
          [disabled]="
            genericTableService.canCreate(genericTableEntities) ||
            disableCreateAction
          "
          [matTooltip]="'Créer'"
          [matTooltipDisabled]="disableCreateAction"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element" class="actions">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <!-- Actions pour le mode lecture -->
          <span *ngIf="element.state === GenericTableEntityState.READ">
            <!-- Naviguation vers un composant -->
            <button
              *ngIf="withNagivation"
              mat-icon-button
              (click)="onNavigate(element)"
              [matTooltip]="'Détails'"
              [disabled]="disableNavigateAction"
              [matTooltipDisabled]="disableNavigateAction"
            >
              <mat-icon>open_in_browser</mat-icon>
            </button>
            <!-- Edit -->
            <button
              *ngIf="
                !isReadOnly && showEditAction && !isReadOnlyItem(element.data)
              "
              mat-icon-button
              (click)="onEdit($event, element)"
              [matTooltip]="'Modifier'"
              [disabled]="disableEditAction"
              [matTooltipDisabled]="disableEditAction"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <!-- Delete -->
            <button
              *ngIf="!isReadOnly && showDeleteAction"
              mat-icon-button
              (click)="delete($event, element)"
              [matTooltip]="'Supprimer'"
              [disabled]="disableDeleteAction"
              [matTooltipDisabled]="disableDeleteAction"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <!-- Change Password -->
            <button
              *ngIf="!isReadOnly && showChangePwdAction"
              mat-icon-button
              (click)="changePwd($event, element)"
              [disabled]="disablePwdAction"
              [matTooltip]="'Changer mot de passe'"
              [matTooltipDisabled]="disablePwdAction"
            >
              <mat-icon>vpn_key</mat-icon>
            </button>
          </span>
          <!-- Actions pour le mode édition-->
          <span
            *ngIf="
              !isReadOnly && element.state === GenericTableEntityState.EDIT
            "
          >
            <!-- Terminer l'édition -->
            <button
              mat-icon-button
              (click)="edit($event, element)"
              [matTooltip]="'Valider'"
            >
              <mat-icon>done</mat-icon>
            </button>
            <!-- Annuler l'édition -->
            <button
              mat-icon-button
              (click)="cancelEditing($event, element)"
              [matTooltip]="'Annuler'"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </span>
          <!-- Actions pour le mode création-->
          <span
            *ngIf="!isReadOnly && element.state === GenericTableEntityState.NEW"
          >
            <!-- Terminer la création -->
            <button
              mat-icon-button
              (click)="create($event, element)"
              [matTooltip]="'Valider'"
            >
              <mat-icon>done</mat-icon>
            </button>
            <!-- Annuler la création -->
            <button
              mat-icon-button
              (click)="cancelCreation($event, element)"
              [matTooltip]="'Annuler'"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </span>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{
        selected: isSelected(row),
        withHover: withHover(row)
      }"
      (click)="select(row)"
    ></tr>
  </table>
</div>

<p *ngIf="isEmpty" class="empty">
  <img width="200" alt="NoData" src="/assets/no-data.jpg" />
</p>
