<div>
  <span *ngIf="!!title" class="title">{{title}}</span>
</div>

<table mat-table [(dataSource)]="genericTableData" class="mat-elevation-z8" [ngClass]="{'can-select': canSelect}" matSort matSortDirection="asc">

  <ng-container *ngFor="let columnName of dataSourceColumnsName; let index = index" [matColumnDef]="columnName.name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnName.name}} </th>
    <td mat-cell *matCellDef="let element">

      <!-- String -->
      <div class="string">
        <mat-form-field *ngIf="isString(columnName.code)" [ngClass]="{errors: hasErrors(element, columnName.code)}" floatLabel="never">
          <input matInput [disabled]="element.state === GenericTableEntityState.READ" matTooltipClass="tooltip-error"
                 [matTooltip]="getErrorMessage(element.errors, columnName.code)"
                 [(ngModel)]="element.data[columnName.code]"
                 [placeholder]="getPlaceHolder(columnName.code)">
        </mat-form-field>
      </div>

      <!-- Number -->
      <div class="number">
        <mat-form-field *ngIf="isNumber(columnName.code)" [ngClass]="{errors: hasErrors(element, columnName.code)}" floatLabel="never">
          <input matInput numeric [disabled]="element.state === GenericTableEntityState.READ" matTooltipClass="tooltip-error"
                 [matTooltip]="getErrorMessage(element.errors, columnName.code)"
                 [(ngModel)]="element.data[columnName.code]"
                 [placeholder]="getPlaceHolder(columnName.code)">
        </mat-form-field>
      </div>

      <!-- Date -->
      <div class="date">
        <mat-form-field *ngIf="isDate(columnName.code)" [ngClass]="{errors: hasErrors(element, columnName.code)}" floatLabel="never">
          <input matInput [disabled]="element.state === GenericTableEntityState.READ" [matDatepicker]="picker1" matTooltipClass="tooltip-error"
                 [matTooltip]="getErrorMessage(element.errors, columnName.code)"
                 [(ngModel)]="element.data[columnName.code]"
                 [placeholder]="getPlaceHolder(columnName.code)">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Currency -->
      <div class="currency">
        <mat-form-field *ngIf="isCurrency(columnName.code)" [ngClass]="{errors: hasErrors(element, columnName.code)}" floatLabel="never">
          <input matInput numeric decimals="4" [disabled]="element.state === GenericTableEntityState.READ" matTooltipClass="tooltip-error"
                 [matTooltip]="getErrorMessage(element.errors, columnName.code)"
                 [ngModel]="element.state === GenericTableEntityState.READ ? ((element.data[columnName.code] | number:'1.0-0': 'fr-FR') + ' €') : element.data[columnName.code]"
                 (ngModelChange)="element.data[columnName.code]=$event"
                 [placeholder]="getPlaceHolder(columnName.code)">
        </mat-form-field>
      </div>

      <!-- Boolean -->
      <div class="checkbox">
        <mat-checkbox *ngIf="isBoolean(columnName.code)" [(ngModel)]="element.data[columnName.code]"
                      [disabled]="element.state === GenericTableEntityState.READ">
        </mat-checkbox>
      </div>

      <!-- Select box -->
      <div class="selectbox">
        <mat-form-field *ngIf="isSelectBox(columnName.code)" [ngClass]="{errors: hasErrors(element, columnName.code)}" floatLabel="never">
          <mat-select [(ngModel)]="element.data[columnName.code]" [disabled]="element.state === GenericTableEntityState.READ" matTooltipClass="tooltip-error"
                      [matTooltip]="getErrorMessage(element.errors, columnName.code)">
            <mat-option *ngFor="let option of getEntitySelectBoxOptions(columnName.code)" [value]="option">{{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </td>
  </ng-container>

  <ng-container [matColumnDef]="actionsHeaderColumns" *ngIf="showActions">
    <th mat-header-cell *matHeaderCellDef class="actions">
      {{actionsHeaderColumns}}
      <button mat-icon-button (click)="onCreate()" [disabled]="canCreate()">
        <mat-icon>add</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element" class="actions">
      <span *ngIf="element.state === GenericTableEntityState.READ">
        <button mat-icon-button (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
      <span *ngIf="element.state === GenericTableEntityState.EDIT">
        <button mat-icon-button (click)="edit(element)">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button (click)="cancelEditing(element)">
          <mat-icon>clear</mat-icon>
        </button>
      </span>
      <span *ngIf="element.state === GenericTableEntityState.NEW">
        <button mat-icon-button (click)="create(element)">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button (click)="cancelCreation(element)">
          <mat-icon>clear</mat-icon>
        </button>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'selected': selectedEntity === row}" (click)="select(row)"></tr>
</table>
