@import "~src/style/variables";

.table-generic {
  display: block;
  //height: 400px;
  max-width: 90vw;
  overflow: auto;
  margin-top: 10px;
}
.result {
  float: right;
  color: $grey;
  font-size: small;
  margin-top: 10px;
}

:host::ng-deep {
  table {
    width: 100%;
    border: 0.5px solid #e0e0e0;
    border-bottom: none;
  }
  .title {
    font-size: 16px;
  }
  .number .mat-form-field, .string .mat-form-field, .selectbox .mat-form-field, .date .mat-form-field, .currency .mat-form-field {
    width: auto;
  }
  th.cdk-column-Actions {
    min-width: 90px;
  }
  .errors {
    .mat-form-field-label {
      /*change color of label*/
      color: red !important;
     }

     .mat-form-field-underline {
      /*change color of underline*/
      background-color: red !important;
    }

    .mat-form-field-ripple {
     /*change color of underline when focused*/
     background-color: red !important;;
    }
  }
  .mat-row:nth-child(even){
    background-color: $white;
  }

  .mat-row:nth-child(odd){
    background-color: #f5f5f5;
  }
  mat-form-field {
    width: 100%;
  }
  .mat-header-cell {
    background-color: $primary;
    color: $white;
    max-width: 105px;
  }
  .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: $primary;
  }
  .mat-form-field-infix {
    //border-top: 0.5em solid transparent;
    width: 150px;
  }
  .ttextarea .mat-form-field-infix {
    //border-top: 0.5em solid transparent;
    width: 200px;
  }
  textarea.mat-input-element {
    height: 15px;
  }
  .mat-cell, .mat-header-cell{
    padding: 5px 10px !important;
  }
  .mat-cell.actions, .mat-header-cell.actions{
    border-right: 1px solid #f5f5f5;
  }
  .mat-form-field-flex {
    padding: 0 5px !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-image: none !important;
  }
  .mat-input-element:disabled, .mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 1);
  }

  .mat-select-disabled {
    .mat-select-value {
      color: rgba(0, 0, 0, 1);
    }
    .mat-select-arrow {
      color: rgba(0, 0, 0, 0) !important;
    }
  }

   // Hide date picker icon
  .mat-form-field-suffix .mat-button-disabled {
    display: none;
  }

  .can-select {
    .mat-row:hover {
      background: #7dcea0;
      cursor: pointer;
    }

    input[disabled], .mat-checkbox-disabled, .mat-select-disabled{
      pointer-events: none !important;
    }

    .selected {
      background: #a2d9ce !important;
    }
  }

  .default-row:first-child {
    background: #a2d9ce !important;
  }
}

.mat-table-sticky:last-child {
  border-left: 0.5px solid #e0e0e0;
}
