@import "~src/style/variables";

.rapports {
}

.container {
  margin-bottom: 50px;
}

.box {
  padding: 25px;

  .mb {
    margin-bottom: 25px;
  }
}

.box-border {
  border: solid 1px;
  padding: 25px;

  .mb {
    margin-bottom: 25px;
  }
}

.block {
  .group {
    display: flex;

    .child {
      margin-right: 30px;
    }
  }
}

button {
  text-transform: uppercase;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  cursor: pointer;
}

mat-form-field {
  width: 100px;
}

.icon-star {
  font-size: 12px !important;
  color: $color-alert;
}

//::ng-deep {
//  .tooltip-info {
//    font-size: 15px !important;
//  }
//}
