<div class="projets">
  <h1>{{ title }}</h1>
  <mat-slide-toggle [(ngModel)]="withClosed" [disabled]="disableToggleButton">
    <span *ngIf="!withClosed">Cliquer pour voir aussi les projets soldés</span>
    <span *ngIf="withClosed"
      >Cliquer pour voir uniquement les projets non soldés</span
    >
  </mat-slide-toggle>
  <app-generic-table
    [title]=""
    [(options)]="options"
    [showActions]="true"
    [isReadOnly]="isReadOnly"
    (editEvent)="onEdit($event)"
    (createEvent)="onCreate($event)"
    (deleteEvent)="onDelete($event)"
    (sortEvent)="onSortChanged($event)"
    (startAction)="onStartAction()"
    (endAction)="onEndAction()"
  >
  </app-generic-table>
</div>
