<div class="projets">
  <h1>{{ title }}</h1>
  <span (click)="withClosed = !withClosed" class="project-not-solde">Projets non soldés</span>
  <mat-slide-toggle [(ngModel)]="withClosed" [disabled]="disableToggleButton"
    >Tous</mat-slide-toggle
  >
  <app-generic-table
    [title]=""
    [(options)]="options"
    [showActions]="true"
    [isReadOnly]="isReadOnly"
    (editEvent)="onEdit($event)"
    (createEvent)="onCreate($event)"
    (deleteEvent)="onDelete($event)"
    (sortEvent)="onSortChanged($event)"
    (startAction)="onStartAction()"
    (endAction)="onEndAction()"
  >
  </app-generic-table>
</div>
