<div class="edit-project-container">
  <h1 mat-dialog-title>Modification du projet : {{ data.projectName }}</h1>
  <br />
  <form [formGroup]="formGroup">
    <div mat-dialog-content>
      <div class="ligne">
        <div class="libelle">Nom :</div>
        <mat-form-field>
          <input
            matInput
            formControlName="nom"
            [errorStateMatcher]="errorStateMatcher1"
          />
          <mat-error *ngIf="formGroup.get('nom').hasError('required')">
            Le nom du projet est <strong>requis</strong>
          </mat-error>
          <mat-error *ngIf="formGroup.get('nom').hasError('minlength')">
            Le nom du projet doit avoir au moins <strong>3 caractères</strong>
          </mat-error>
          <mat-error *ngIf="formGroup.get('nom').hasError('duplicate')">
            Le nom du projet est déjà <strong>utilisé</strong> par un autre projet
          </mat-error>
        </mat-form-field>
      </div>
      <div class="ligne">
        <div class="libelle">Code :</div>
        <mat-form-field>
          <input
            matInput
            numeric
            formControlName="code"
            [errorStateMatcher]="errorStateMatcher2"
          />
          <mat-error *ngIf="formGroup.get('code').hasError('required')">
            Le code projet est <strong>requis</strong>
          </mat-error>
          <mat-error *ngIf="formGroup.get('code').hasError('pattern')">
            Le code projet doit avoir <strong>5 chiffres</strong>
          </mat-error>
          <mat-error *ngIf="formGroup.get('code').hasError('duplicate')">
            Le code est déjà <strong>utilisé</strong> par un autre projet
          </mat-error>
          <mat-error *ngIf="formGroup.get('code').hasError('range')">
            Le code projet doit être une valeur comprise entre
            <strong>{{ min }}000</strong> et
            <strong>{{ max }}999</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="ligne">
        <div class="libelle">Responsable :</div>
        <mat-form-field>
          <mat-select [(value)]="managerId" [disabled]="isBalance()">
            <mat-option *ngFor="let option of data.users" [value]="option.id_u">
              {{ option.initiales_u }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> 
      <div class="ligne">
        <div class="libelle">Soldé :</div>
        <span class="project-status">
          <mat-checkbox formControlName="status"> </mat-checkbox>
        </span>
      </div>
    </div>
    <div mat-dialog-actions class="edit-project-buttons">
      <button
        mat-raised-button
        (click)="onYesClick()"
        [disabled]="formGroup.get('code').errors || formGroup.get('nom').errors"
        >
        Valider
      </button>
      <button mat-raised-button (click)="onNoClick()">Annuler</button>
    </div>
  </form>
</div>
