<div class="edit-project-container">
<h1 mat-dialog-title>Modification du projet :  {{data.projectName}}</h1>
  <br>
<div mat-dialog-content>
  Nom :
  <mat-form-field>
    <input matInput [(ngModel)]="data.project.nom_p">
  </mat-form-field>
  <br>
  Code :
  <mat-form-field>
    <input matInput [(ngModel)]="data.project.code_p">
  </mat-form-field>
  <br>
  Responsable :
  <mat-form-field>
    <mat-select  [(value)] = "managerId">
      <mat-option *ngFor="let option of data.users" [value]="option.id_u">
        {{option.initiales_u}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <br>
<div mat-dialog-actions class="edit-project-buttons">
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="onYesClick()" [mat-dialog-close]="data" cdkFocusInitial>Valider</button>
</div>
</div>
