<div class="project-details">
  <span class="bold ">Projet</span>

  <div class="project-status">
    <mat-checkbox
      [checked]=projet.statut_p
      (click)="$event.preventDefault()"> <!-- disabled if not administrator  -->
      Soldé
    </mat-checkbox>
  </div>
  <br>
  <br>
  <span class="project-name"> Nom : {{projet.nom_p}}</span>
  <br><br>
  <span class="project-code"> Code : {{projet.code_p}} </span>
  <span class="project-responsable"> Responsable : {{projet.responsable.initiales_u }} </span>
</div>


<app-financements></app-financements>
<app-montants-affectes></app-montants-affectes>
