.project-details{
  margin-bottom: 20px;
  margin-top: 30px;
}
.financements {
  margin-bottom: 25px;
}

.bold{
  font-weight: bold ;
}

.project-name{
  font-size: 25px;
}

.project-status{
  float: right;
  padding-right: 20px;
}
.project-code-content{
  padding-right: 60px;
}

.project-line{
  width: 200%;
  margin-left: -200px;
  margin-bottom: 20px;
  height: 3px;
  background-color: #125699;
}


.recettes {
  width: 45%;
}

.montants-affectes {
  width: 45%;
}

.block {
  margin-bottom: 15px;

  .space-between-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

