@import "~src/style/variables";

.project-details{
  margin-bottom: 20px;
}
.financements {
  margin-bottom: 25px;
}

.bold{
  font-weight: bold ;
}

.project-name{
  font-size: 25px;
}

.project-edit{
  float: right;
  padding-right: 20px;
}

.project-code-content{
  padding-right: 60px;
}

.project-line{
  width: 100%;
  margin-bottom: 20px;
  height: 2px;
  background-color: #125699;
}

.recettes {
  width: 50%;
}

.montants-affectes {
  width: 50%;
}

.block {
  margin-bottom: 15px;
  width: 100%;
}

.edit-project-container{
  padding-left: 120px;
}

.edit-project-buttons{
  padding-left: 40px;
}

.mat-dialog-content{
  overflow: visible;
}

.ligne{
  margin-top: -10px;
}

.libelle{
  min-width: 100px;
  display: inline-block;
}

.button-to-right {
  float: right;
}

.mat-success {
  background-color: $color-success;
  color: $white;
}