<div class="page">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
      <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />

    <a routerLink="/connexion" routerLinkActive="active"><span>Connexion</span></a>
    <a routerLink="/depenses" routerLinkActive="active"><span>Dépenses</span></a>
    <a routerLink="/financeurs" routerLinkActive="active"><span>Financeurs</span></a>
    <a routerLink="/home" routerLinkActive="active"><span>Home</span></a>
    <a routerLink="/projets" routerLinkActive="active"><span>Projets</span></a>
    <a routerLink="/rapports" routerLinkActive="active"><span>Rapports</span></a>
    <a routerLink="/responsables" routerLinkActive="active"><span>Responsables</span></a>
    <a routerLink="/utilisateurs" routerLinkActive="active"><span>Utilisateurs</span></a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>