@import "~src/style/variables.scss";

.popup-information {
  color: $color-info;

  button {
    color: $color-warn;
  }
}

.popup-error {
  color: $color-alert;

  button {
    color: $color-warn;
  }
}

.popup-success {
  color: $color-success;

  button {
    color: $color-warn;
  }
}
