/*$primary : #6E78A6;
$light-color: #d1d9ff;
$dark-color: #6f79a8;
$hover: rgba(255, 255, 255, 0.1);

$white: #ffffff;
$black: #000000;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$light-grey: #d8d8d8;
$grey: #a7a6a6;

$color-alert: #d72416;
$color-warn: #ffc107;
$color-info: #17a2b8;
$color-success: #1aaa55;

*/
$primary : #3D9970;//#1976d2;
$light-color: #488bce;
$dark-color: #125699;
$height-menu-lg: 60px;
$header-color: #d7e2ec;
$grey: #a7a6a6;

$white: #ffffff;
$black: #000000;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);

$color-alert: #f44336;
$color-warn: #ffc107;
$color-info: #17a2b8;
$color-success: #4ec531;