<app-generic-table
  *ngIf="options"
  [title]="title"
  [options]="options"
  [canSelect]="true"
  [showActions]="isAdministrator"
  [isReadOnly]="isReadOnly"
  [selectedRow]="selectedRecette"
  (editEvent)="onEdit($event)"
  (createEvent)="onCreate($event)"
  (deleteEvent)="onDelete($event)"
  (selectEvent)="onSelect($event)"
  (startCreateEvent)="onStartCreation($event)"
  (endCreateEvent)="onEndCreation()"
  (startEditingEvent)="onStartEditing($event)"
  (endEditingEvent)="onEndEditing()"
>
</app-generic-table>
