<app-generic-table
  *ngIf="options"
  [title]="title"
  [options]="options"
  [showActions]="showActions"
  [canSelect]="true"
  [autoSelectFirstRow]="true"
  [selectedRow]="selectedFinancement"
  [showCreateAction]="showCreateAction"
  [showEditAction]="showEditAction"
  [showDeleteAction]="showDeleteAction"
  (editEvent)="onEdit($event)"
  (createEvent)="onCreate($event)"
  (deleteEvent)="onDelete($event)"
  (selectEvent)="onSelect($event)"
  (sortEvent)="onSortChanged($event)"
  (startAction)="onStartAction()"
  (endAction)="onEndAction()"
>
</app-generic-table>
