/* You can add global styles to this file, and also import other style files */
@import "~src/style/variables.scss";

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1 1 auto;
}

a {
    color: $primary;
    text-decoration: none;
    padding: 0 10px;
}

a:hover, a:visited, a:focus, a:active {
    color: $dark-color;
    text-decoration: underline;
}

.tooltip-error {
  background: #b71c1c;
}

.tooltip-textarea {
    font-size: 12px;
}