.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.example-full-width {
  width: 90%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0,0,0,0.2);
}

.header {
  font-size: 30px;
  background: #3D9970;
  padding: 10px;
  height: 60px;
  vertical-align: middle;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.child {
  margin: 10px 0 10px;
  padding: 0 10px 0;
}

.action {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 10px;

  button {
    width: 80%;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    background: #3D9970;
  }
}
