@import "~src/style/variables";

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

.example-full-width {
  width: 90%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 450px;
}

.header {
  font-size: 30px;
  background: $blue-grey;
  text-align: center;
  border-radius: 9px 9px 0 0;
}

.child {
  margin: 10px 0 10px;
  padding: 0 10px 0;
}

.action {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 10px;

  button {
    width: 80%;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    background: $color-success;
  }
}
